
body{
    background: url("img/background\ test.png");
    background-attachment: fixed;
    padding: 20px;
    margin: 20px;
    background-size: cover;
    background-position: center;
    }

ul {
    list-style: none;
    margin: 0%;
    padding: 0;
    background-color: #197dff;
    overflow: hidden;
    font-family: 'Mochiy Pop P One', sans-serif;
}

li {
    float: left;
}

li a {
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
    transition: 0.75s;
    }

li a:hover {
background-color: orange;
transition: 0.75s;
}

.text {
    font-family: 'Mochiy Pop P One', sans-serif;
}